.become_seller_link {
    background-color: #3BB77E;
    color: white;
    border: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font: 400 1vmax "Roboto";
    margin-top: 1%;
    text-decoration: none;
  
}

p {
    color: #7E7E7E;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 25px;
    padding-left: 5px;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    padding-right: 5px;
}





